{% extends "layout.html" %}
{% block childHtml %}

{% from 'languageFilterMacro.html' import languageFilterMacro %}

<script type="application/json" id="languagesMetadata">
  {{ languagesMetadata|safe}}
</script>
<script type="application/json" id="locationMetadata">
  {{ locationsMetadata|safe }}
</script>


<!-- BEGIN: Section and Language filters -->
<div id="section-filters" class="center-block row">
  <!-- BEGIN: Section dropdown -->
  <div id="section-dropdown" class="dropdown upper-control">
    <div class="btn-group">
      <button id="location-dropdown-button"
        class="btn btn-default dropdown-toggle section-dropdown-button"
        type="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="true"
        data-bind="disable: disabled" >
        <span data-bind="text: cityLabel"></span>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="location-dropdown-button">
        <!-- ko foreach: locations -->
          <li>
            <a href="#" data-bind="click: $parent.chooseLocation, attr:{'href': url}">
              <img class="section-dropdown-icon" data-bind="visible: !!icon, attr:{'src': icon}">
              <span data-bind="text: displayName"></span>
            </a>
          </li>
        <!-- /ko -->
      </ul>
    </div>
  </div>
  <!-- END: Section dropdown -->

  {{ languageFilterMacro() }}
</div>
<!-- END: Section and Language filters -->

<!-- BEGIN: News stories -->
<div id="storyList" class="center-block">
  <ul class="list-group" data-bind="foreach: stories">
    <li class="list-group-item row baseCard storyCard">
      <div class="col-xs-12 col-xsl-6 col-sm-4" data-bind="if: images().length > 0">
        <div data-bind="with: images()[0]">
          <div class="storyPic-container">
            <a target="_blank" data-bind="attr: {href:link}">
              <img class="img-responsive center-block storyPic" data-bind="attr:{'src': src}">
            </a>
            <p class="text-center small">
                Image Source:
                <a class="publisher-link" target="_blank" data-bind="text: publisher.name, attr: {href:link}"></a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-xs-12" data-bind="css:{'col-sm-8 col-xsl-6' : images().length > 0}">
        <h4>
          <a class="headline" target="_blank" data-bind="text : mainArticle.title, attr: {href:mainArticle.link}"></a>
          <small>
            <a class="publisher-link" target="_blank" data-bind="text: mainArticle.publisher.name, attr: {href:mainArticle.publisher.homepage}"></a>
          </small>
        </h4>
        <p data-bind="text : mainArticle.summaryTextToDisplay"></p>

        <div data-bind="if: relatedArticles">
          <ul data-bind="foreach: relatedArticles">
            <li data-bind="css:{'hidden-xs' : $index() > 0}">
              <a class="headline" target="_blank" data-bind="text : title, attr: {href:link}"></a>
              <small><a class="publisher-link" target="_blank" data-bind="text: publisher.name, attr: {href:publisher.homepage}"></a></small>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-xs-12 card-actionRow">
        <a href="#" class="pull-right card-action" data-bind="click: navigateToDetails, attr: {href:storyDetailUrl}">
          <span>Details</span>
          <span class="glyphicon glyphicon-arrow-right" aria-label="Details"></span>
        </a>
      </div>
    </li>
  </ul>
  <button class="btn btn-default center-block show-more-button" data-bind="click: loadMoreStories, visible: !isDataLoading()">
    <span class="glyphicon glyphicon-menu-down pull-left" aria-hidden="true"></span>
    <span>Show more</span>
    <span class="glyphicon glyphicon-menu-down pull-right" aria-hidden="true"></span>
  </button>
  <img  class="center-block" data-bind="visible: isDataLoading" src="{{ url_for('static', filename='loading.svg') }}">
</div>
<!-- END: News stories -->

<!-- BEGIN: Story detail view -->
<div id="storyDetail" class="center-block">
  <div data-bind="visible: locations().length > 0">
    <!-- ko foreach: locations -->
        <a href="#" class="upper-nav-link upper-control center-block" data-bind="click: $parent.navigateToLocale, attr: {href:url}">
          <span class="glyphicon glyphicon-arrow-left"></span>
          <span data-bind="text: displayName"></span><span> News</span>
        </a>
    <!-- /ko -->
  </div>
  {{ languageFilterMacro() }}

  <ul class="list-group" data-bind="foreach: articles">
    <li class="list-group-item row baseCard articleCard">
      <div class="col-xs-12">
        <div class="card-header">
          <span class="glyphicon glyphicon-time"></span>
          <span data-bind="text: timeString"></span>
          <span> by </span>
          <a class="publisher-link" target="_blank" data-bind="text: publisher.name, attr: {href:link}"></a>
        </div>
      </div>

      <div class="col-xs-12 col-xsl-6 col-sm-4" data-bind="if: images.length > 0">
        <div data-bind="with: images[0]">
          <div class="storyPic-container">
            <a target="_blank" data-bind="attr: {href:$parent.link}">
              <img class="img-responsive center-block storyPic" data-bind="attr:{'src': $data}">
            </a>
          </div>
        </div>
      </div>

      <div class="col-xs-12" data-bind="css:{'col-sm-8 col-xsl-6' : images.length > 0}">
        <h4>
          <a class="headline" target="_blank" data-bind="text: title, attr: {href:link}"></a>
        </h4>
        <p data-bind="visible: highlights.length === 0, text: summaryTextToDisplay"></p>

        <div data-bind="if: highlights.length > 0">
          <ul data-bind="foreach: highlights">
            <li data-bind="css:{'hidden-xs' : $index() > 2}">
              <p data-bind="text: $data"></p>
            </li>
          </ul>
        </div>
      </div>
    </li>
  </ul>

  <div class="cs-section" data-bind="if: cityStories().length > 0">
    <h3 data-bind="with: mainCity">
      Trending news in <a href="#" class="cs-city-link" data-bind="click: $parent.navigateToLocale, attr: {href:url}">
        <span data-bind="text: displayName"></span>
      </a>
    </h3>

    <div class="row"  data-bind="foreach: cityStories">
      <div class="col-xs-12 col-xsl-6 col-sm-6">
        <div class="cs-item">
          <div class="cs-content row">
            <div class="cs-image-container" data-bind="if: images().length > 0">
              <img class="cs-image center-block" data-bind="attr:{'src': images()[0].src}">
              <p class="text-center small" data-bind="with: images()[0]">
                Image Source:
                <a class="cs-publisher" target="_blank" data-bind="text: publisher.name, attr: {href:link}"></a>
              </p>
            </div>
              
            <div class="cs-body">
              <h4>
                <a class="cs-title" target="_blank" data-bind="text : mainArticle.title, attr: {href:mainArticle.link}"></a>
                <small>
                  <span class="cs-publisher" data-bind="text: mainArticle.publisher.name"></span>
                </small>
              </h4>
              <!-- ko if: relatedArticles -->
              <h5 data-bind="with: relatedArticles()[0]">
                <a class="cs-title" target="_blank" data-bind="text : title, attr: {href:link}"></a>
                <small>
                  <span class="cs-publisher" data-bind="text: publisher.name"></span>
                </small>
              </h5>
              <!-- /ko -->
            </div>
          </div>

          <div class="cs-bottom row">
            <h4>
              <a class="cs-story-link" href="#" data-bind="click: navigateToDetails, attr: {href:storyDetailUrl}">
                View full coverage
                <span class="glyphicon glyphicon-arrow-right" aria-label="View full coverage"></span>
              </a>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img  class="center-block" data-bind="visible: isDataLoading" src="{{ url_for('static', filename='loading.svg') }}">
</div>
<!-- END: Story detail view -->

{% endblock %}
{% block childScripts %}
  {% assets "home_js" %}
    <script type="text/javascript" src="{{ url_for('static', filename='gen/home_packed.js') }}"></script>
  {% endassets %}
{% endblock %}