body {
  padding-top: 1em;
}

.logo-img {
	padding-left: 4px;
}

a.logo-text, a.logo-text:hover, a.logo-text:focus {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 32px;
    font-style: italic;
    color: lightyellow;
    text-decoration: none;
}

.body-content {
  padding: 40px 0 0 0;
}

.section-dropdown-button {
  margin-bottom: 0.5em;
  background-color: #333;
  color: lightyellow;
}

.section-dropdown-icon {
    height: 1.5em;
    width: 2em;
    margin-right: 2px;
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .col-xsl-6 {
    width: 50%;
  }
}

#storyList {
  max-width: 1024px
}

.storyPic {
  max-height: 10em;
}

.story {
  background-color: #333;
  border-bottom: 5px solid white;
}

.story .headline {
  color: lightyellow;
  font-weight: bold;
}

.story .publisher-link {
  color: #e7e7e7;
}

.story p, .story em {
  color: #d3d3d3;
}