body {
  padding-top: 1em;
}

.newsSections {
  padding: 4em 0 0 0;
}

.storyDiv {
  padding: 0;
  margin-bottom: 0;
  border: 0;
}

.storyMedia {
  height: 10em;
}

.storyCarouselPic {
  max-height: 10em;
} 

.summaryText {
  height: 2em;
  width: 100%;                   
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
