body {
  padding-top: 1em;
  background-color: #e7e7e7
}

.navbar-header {
  background-color: #6b0000;
  padding-right: 1em;
}

.logo-img {
  padding-left: 4px;
  padding-right: 4px;
}

a.logo-text, a.logo-text:hover, a.logo-text:focus {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-size: 32px;
  font-style: italic;
  color: white;
  text-decoration: none;
}

.body-content {
  padding: 40px 0 0 0;
  min-height: 50em;
}

.upper-control {
  margin-bottom: 0.5em;
  text-align: center;
}

.section-dropdown-button {
  margin-bottom: 0.5em;
  background-color: #6b0000;
  color: white;
}

.section-dropdown-button:hover, .section-dropdown-button:focus {
  background-color: #5a0000;
  color: white;
}

.section-dropdown-icon {
    height: 1.5em;
    width: 2em;
    margin-right: 2px;
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .col-xsl-6 {
    width: 50%;
  }
}

#section-filters, #storyList, #storyDetail {
  max-width: 1024px;
}

.storyPic {
  max-height: 10em;
}

.baseCard {
  background-color: white;
  border-top: 2px solid #6b0000;
  margin-bottom: 0.5em;
}

.baseCard .card-header {
  font-size: 1.1em;
  color: #6b0000;
  padding-bottom: 0.3em;
}

.baseCard .headline {
  color: black;
  font-size: 1.2em;
  font-weight: bold;
}

.baseCard .publisher-link {
  color: #171777;
}

.baseCard p {
  color: #171717;
}

.baseCard .card-action {
  font-size: 1.1em;
  color: #6b0000;
  border: 1px solid #6b0000;
  border-radius: 8px;
}

.baseCard .card-action span {
  padding-left: 4px;
  padding-right: 4px;
}

.upper-nav-link {
  font-size: 1.2em;
  color: #6b0000;
}

.show-more-button {
  width: 50%;
  background-color: #6b0000;
  color: white;
}

.show-more-button:hover, .show-more-button:focus {
  background-color: #5a0000;
  color: white;
}

.footer {
  width: 100%;
  background-color: #222;
  margin-top: 5em;
}

.footer > .footer-container {
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
}

.footer > .footer-container p {
  color: #aaa;
}

.footer .footer-link-container {
  min-width: 9em;
  padding-right: 5px;
  display: inline-block;
}

.footer .footer-link {
  color: #aaa;
  text-decoration: underline;
}